<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/sidebars.css" />

    <script type="text/javascript" th:src="@{/static/js/main.js}" defer></script>
    <script type="text/javascript" th:src="@{/static/js/sidebars.js}" defer></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>


<div class="text-white bg-dark w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="leftMenu">
    <div id="leftMenuBody" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
        <h2 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">Filters</h2>
        <hr>
    </div>
    <button onclick="w3_close()" class="w3-bar-item w3-button w3-large">Close &times;</button>
</div>

<div class="text-white bg-dark w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
    <div id="rightMenuBody" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
        <h2 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"><form action="/cart">
            <input class="w3-bar-item w3-button w3-large" type="submit" value="Go to cart" />
        </form></h2>
        <hr>
    </div>
    <button onclick="w2_close()" class="w3-bar-item w3-button w3-large">Close &times;</button>
</div>

<div id="main">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark header-nav" >
    <div>
        <button id="openFilterMenu" class="btn-dark btn-lg" onclick="w3_open()">&#9776;Filters</button>
    </div>
    <a class="navbar-brand" href="/"><h1>Codecool Shop</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <div id="myAccount">
                    <button id="navbarDropdownMenuLink" class="btn-dark btn-lg nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:if="${session.user==null}">My account</span>
                        <span th:if="${session.user!=null}">Hi, <span th:text="${session.user.getFirstName()}"></span></span>
                    </button>
                    <div id="categories" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div th:if="${session.user==null}">
                            <a class="dropdown-item" href="/user">Register</a>
                            <a class="dropdown-item" href="/user/login">Log In</a>
                        </div>
                        <div th:if="${session.user!=null}">
                            <a class="dropdown-item" href="/user/logout">Log Out</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <button id="openCartMenu" class="btn-dark btn-lg" onclick="w2_open()">&#9776;Cart</button>
        <span class='count-items-anim badge badge-warning' id='lblCartCount' th:style="${productsInCart>0 ? 'display:inline-block' : 'display:none'}" th:text=" ${productsInCart} "></span>
    </div>
</nav>

<div class="container">
    <div id="title" class="card">
        <strong th:text="${category}">Category Title</strong>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" width="200" height="200"/>
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <button class="btn btn-success" type="button" th:onclick="'addToCart(\'' + ${prod.id} + '\');'">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<div th:replace="footer.html :: copy"></div>
</body>
</html>