<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Cart</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

    <script type="text/javascript" th:src="@{/static/js/payment.js}" defer></script>

</head>

<body>

<!-- Add Card Modal -->
<div class="modal fade" id="addCardModal" role="dialog" style="width:100%">
    <div class="modal-dialog  bg-dark" style="width:700px">
        <div class="modal-content  bg-dark" style="width:700px">
            <div class="modal-header">
                <h4 class="modal-title text-white">Checkout</h4>
            </div>
            <form action="/payment" method="post">
            <div class="modal-body text-white">
                <div style="display:flex; flex-direction: column; justify-content: space-evenly">
                    <div style="display:flex; flex-direction: row; justify-content: space-evenly; align-items: flex-start">
                        <label for="card_number" >Card Number:</label><br>
                        <input type="number" id="card_number" name="card_number" value=""><br>
                    </div>
                    <div style="display:flex; flex-direction: row; justify-content: space-evenly; align-items: flex-start">
                        <label for="exp_month">Exp Month</label><br>
                        <input type="number" id="exp_month" name="exp_month" value=""><br>
                    </div>
                    <div style="display:flex; flex-direction: row; justify-content: space-evenly; align-items: flex-start">
                        <label for="exp_year">Exp Year</label><br>
                        <input type="number" id="exp_year" name="exp_year" value=""><br>
                    </div>
                    <div style="display:flex; flex-direction: row; justify-content: space-evenly; align-items: flex-start">
                        <label for="cvc">CVC</label><br>
                        <input type="number" id="cvc" name="cvc" value=""><br>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="checkoutButton">
                    <input type="submit" class="btn btn-primary" value="Add Card">
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Select Card Modal -->
<div class="modal fade" id="selectCardModal" role="dialog" style="width:100%">
    <div class="modal-dialog  bg-dark" style="width:700px">
        <div class="modal-content  bg-dark" style="width:700px">
            <div class="modal-header">
                <h4 class="modal-title text-white">Checkout</h4>
            </div>
                <div class="modal-body text-white">
                    <span th:each="payMethod: ${payment_methods}">
                        <form th:action="${'/payment?card_id='+payMethod.getId()}" method="post">
                            <button type="submit" name="card" value="card" class="btn btn-success" th:text="${payMethod.card.brand + ' - ' + payMethod.card.last4}"></button>
                        </form>
                        <hr>
                    </span>
                </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Codecool Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<h1>Total price:</h1>
<h2 th:text="${total_price}"></h2>

<span th:if="${payment_methods.size() == 0}">
    <button class="btn btn-primary" data-toggle="modal" data-target="#addCardModal">Add card details</button>
</span>
<span th:if="${payment_methods.size() != 0}">
    <button class="btn btn-primary" data-toggle="modal" data-target="#selectCardModal">Select card to pay</button>
</span>
<div th:replace="footer.html :: copy"></div>
</body>
</html>