<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Add Card</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Codecool Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container col col-sm-12 col-md-6 col-lg-4">
<div class="card">
    <div class="card-header">
        <form action="/add_card" method="post">
                <div style="display:flex; flex-direction: column; justify-content: space-evenly">
                    <div style="display:flex; flex-direction: row; justify-content: space-evenly; align-items: flex-start">
                        <label for="card_number" >Card Number:</label><br>
                        <input type="number" id="card_number" name="card_number" value=""><br>
                    </div>
                    <div style="display:flex; flex-direction: row; justify-content: space-evenly; align-items: flex-start">
                        <label for="exp_month">Exp Month</label><br>
                        <input type="number" id="exp_month" name="exp_month" value=""><br>
                    </div>
                    <div style="display:flex; flex-direction: row; justify-content: space-evenly; align-items: flex-start">
                        <label for="exp_year">Exp Year</label><br>
                        <input type="number" id="exp_year" name="exp_year" value=""><br>
                    </div>
                    <div style="display:flex; flex-direction: row; justify-content: space-evenly; align-items: flex-start">
                        <label for="cvc">CVC</label><br>
                        <input type="number" id="cvc" name="cvc" value=""><br>
                    </div>
                </div>
            <div class="modal-footer" id="checkoutButton">
                <input type="submit" class="btn btn-primary" value="Add Card">
            </div>
        </form>
    </div>
</div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>